.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
  padding-bottom: var(--space-medium);

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.card {
  overflow: hidden;

  a {
    text-decoration: none;
  }
  border-radius: 4px;
  width: 100%;
  transition: var(--transition-timing-base) ease-in-out;
  border: 1px solid var(--color-secondary);

  &-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-loader {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    transition: opacity var(--transition-timing-base) ease-in-out;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &-info {
    padding-top: var(--space-x-small);
    padding-left: var(--space-small);
    padding-right: var(--space-small);
    padding-bottom: var(--space-small);
  }

  &-blog {
    padding: var(--space-x-small) var(--space-small) var(--space-small);
    border-top: 1px dotted var(--color-secondary);

    a {
      font-family: var(--font-family-sans);
      font-size: var(--font-size-small);
      color: var(--color-secondary);
      transition: color var(--transition-timing-base);

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &-text {
    transition: color var(--transition-timing-base);
    font-family: var(--font-family-sans);
    line-height: var(--line-height-tight);
    margin-bottom: 0;
  }

  a:hover &-text {
    color: var(--color-accent);
  }
}

.spinner {
  position: absolute;
  width: 32px;
  height: 32px;
  color: var(--color-primary);
  animation: spin 1s linear infinite;
}

.arrow-right {
  position: absolute;
  width: 1rem;
  margin: 1px 0 0 2px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
